@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Noto Sans KR';
}

body {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #0F4C81;
}

.content {
  position: relative;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loginForm {
  position: relative;
  text-align: center;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
}

.loginForm h1, .loginForm p {
  margin: 0;
}

.loginForm h1 {
  font-size: 3rem;
}

.loginForm table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

input[type="text"], input[type="password"] {
  border: 0;
  padding: 1rem;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  margin: 0.3rem 0;
  border: 0.1rem solid rgb(220,220,220);
  transition: border-bottom 0.2s ease;
  transition: box-shadow 0.2s ease;
  border-radius: 1rem;
}

input[type="text"]:focus, input[type="password"]:focus{
  border: 0.1rem solid rgba(15,76,129,0.5);
  box-shadow: 0 0 0.5rem rgba(15,76,129);
  transition: border-bottom 0.2s ease;
  transition: box-shadow 0.2s ease;
}

.loginForm p {
  font-size: 1.2rem;
}

.btnLogin {
  position: relative;
  border: 0;
  outline: 0;
  margin-top: 0.3rem;
  background-color: #0F4C81;
  color: white;
  font-size: 1.4rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.btnLogin:active {
  background-color: #0b385f;
}